[submodule "thirdparty/ScopeExit"]
	path = thirdparty/ScopeExit
	url = https://github.com/SergiusTheBest/ScopeExit
[submodule "thirdparty/tinyobjloader"]
	path = thirdparty/tinyobjloader
	url = https://github.com/hzqst/tinyobjloader
